html {
  font-family: Verdana;
  text-align: center;
  background-color: purple;
}
.header {
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.body p{
  font-size: 21px;
  color: gray;
}
.body h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#download {
  color: aquamarine;
  font-size: 16px;
}
.copyright{
  text-align: right;
  color:gray;
}
